<div class="card m-5">
    <div class="card-body">
        <form class="form new-post-form">
            <div class="form-group">
                <label for="post-title">Title:</label>
                <input class="form-control" type="text" id="post-title" name="post-title"
                    placeholder="Give your post a title!" />
            </div>
            <div class="form-group">
                <label for="post-text">Text:</label>
                <input class="form-control textarea is-large" id="post-text" name="post-text"
                    placeholder="Give your post some text!" />
            </div>
            <button class="btn btn-outline-secondary" type="submit">Create Post</button>
        </form>
    </div>
</div>

<script src="/js/create-post.js"></script>