<div class="col mx-auto" style="width: 40rem;">
    <div class="login">
        <h2>Login</h2>
        <form class="form login-form">
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-control" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-control" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button class="btn" type="submit">Login</button>
                <a class="signup btn" href='/signup' role="button">Sign up Instead!</a>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>