body {
    background-color: #ecd1ae;
}
nav {
    background-color: #ffffff;
    color: #4b484d;
}
.nav-link {
    color: #4b484d;
}
.nav-link :hover {
    color: #ffffff;
}
h6 {
    text-align: right;
}
#logout {
    border: none;
    background: none;
}